@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
}

.careers-page {
  max-width: 74.5rem;
  margin: 0 auto; 
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #163a34;
}

.textoContent {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #163a34;
}

.hero__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 110%;
  letter-spacing: -2px;
  color: #163a34;
}

.hero__heading span {
  position: relative;
}

.hero__heading span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.7rem;
  width: 100%;
  height: 2.4rem;
  background: #fcd5c3;
  border-radius: 4px;
  z-index: -1;
}