@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
}


.comunidad-page {
  background: #e5eff5;
}

.comunidad-titulo {
  color: #2ab2af
}

.comunidad-garantia {
  color: #c0df34
}

.panel-izquierdo {
  background: #2ab2af
}

.panel-derecho {
  background: #2ab2afd9
}

.precio-periodo {
  color: rgba(255, 255, 255, 0.7);
}

.btn-registrarse {
  background: #c0df34;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
}